{% extends "layouts/application.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block container %}
  <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }}
    
    <button type="submit" class="btn btn-default">Login</button>
  </form>
{% endblock container %}