{% extends "layouts/application.html" %}
{% block title %}SPIKE! - WAF Rules Builder{% endblock %}

{% block main %}

<h2><a href="/docs">Spike - Docs</a></h2>

 {{ display | safe }}

{% endblock main %}

