{% extends "layouts/application.html" %}
{% block title %}SPIKE! - WAF Rules Builder{% endblock %}

{% block main %}

<h2>Naxsi - Rules [ {{ rules | length }} ]</h2>
 <p><strong>{{ selection }}</strong></p>
  <table class="table table-condensed table-stripped">
  {% for rule in rules %}


        {% if rule.active != 1 %}
    <tr bgcolor="grey">
        {% else %}
    <tr id="{{rule.sid}}">
        {% endif %}
        
        
            <td valign="top"><h4><a href="/rules/edit/{{rule.sid}}">{{rule.sid}}</a></h4></td>
            <td><h4><a href="/rules/edit/{{rule.sid}}">{{ rule.msg }}</a></h4>
            Detection: {{ rule.detection }}
            
            </td>
            <td>
              <a href="/rules/edit/{{rule.sid}}" class="btn btn-primary btn-sm" title="Edit Rule">Edit</a>
            </td>
            <td>
              <a href="/rules/view/{{rule.sid}}" class="btn btn-primary btn-sm" title="View Rule">View</a>
            </td>
        </tr>
  
  
  {% endfor %}
  </table>

{% endblock main %}

