{% extends "layouts/application.html" %}
{% block title %}View {{rule.sid}} {% endblock %}


{% block main %}

<h3><a href="/rules/edit/{{rule.sid}}">{{ rule.sid  }} - {{ rule.msg }}</a> <a href="/rules/edit/{{rule.sid}}" class="btn btn-lg btn-primary">Edit Rule</a></h3>

<pre>
  
{{ rtext }}

</pre>


{% endblock %}

